# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
.venv/
venv/
ENV/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/
logs_moxa/

# Local configuration
config.yaml
.env

# Windows specific
desktop.ini
Thumbs.db
